.mobile-section {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    padding: 20px 14px;
    color: #000;
    background-color:#FFFFFF;
    overflow: hidden;
}

.mobile-section .grid  {
    width: 100%;
    min-height: 100vh;
    display: grid;
    background-color:#FFFFFF;
    margin-top:20px;

}

.mobile-section .grid .product-grid {
    background-color: #FFFFFF;
}


.grid .product-grid ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.mobile-section .grid .product-grid ul .box {
    position: relative;
    width: 300px;
    height: 390px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.mobile-section .grid ul .box .product-img > img{
    width: 100%;
    max-height: 200px;
    background-color: #FAFAFA;
    object-fit: cover;
}
/* .mobile-section .grid .product-grid ul .box .product-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */

.grid .product-grid ul .box h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
}

.grid ul .box .price {
    margin-top: 8px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
}

.grid ul .box p {
    margin-top: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 0.8rem;
}

.grid ul .box button {
    padding: 8px 24px;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #3f3f3f;
    cursor: pointer;
    background-color: #F7CA00;
    margin: 10px auto;
}

/* serch products start */
.mobile-section .grid .filter-page .filter-box {
    position: relative;
    width: 100%;
}

.mobile-section .grid .filter-page .filter-box label {
    margin: 0;
    padding: 0;
}

.mobile-section .grid .filter-page .filter-box input {
    height: 5px;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    border: 2px solid rgb(32, 31, 31);
    text-align: left;
}

.same-brands {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}


/* Filter options start  */
.mobile-section .grid .filter-page {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 0;
}

.filter-page h3 {
    margin-bottom: 10px;
}

.brand-name {
    color: #000;
}

.filter-page .price {
    cursor: pointer;
}

.color-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;

}

.color-filter .box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.color-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hover:hover {
    color: red;
    cursor: pointer;
}


/* responsive page start here  */
@media (max-width:820px) {
    .mobile-section{
   
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding: 10px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 250px;
        height: 390px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2px;
    }
  
 
}

@media (max-width:1024px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 250px;
        height: 390px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2px;
    }
  
 
}

@media (max-width:996px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 200px;
        height: 390px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2px;
    }
  
 
}

@media (max-width:820px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 190px;
        height: 390px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 2px;
    }
  
 
}

@media (max-width:780px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 160px;
        height: 420px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 20px;
    }

}

@media (max-width:675px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 220px;
        height: 390px;
      
    }

}

@media (max-width:610px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 180px;
        height: 390px;
      
    }

}

@media (max-width:550px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 260px;
        height: 390px;
      
    }

}

@media (max-width:398px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 190px;
        height: 390px;
      
    }

}

@media (max-width:280px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 140px;
        height: 390px;
      
    }
    .mobile-section .grid .product-grid ul .box  button {
        padding: 6px 12px;
        border: none;
        outline: none;
        border-radius: 50px;
        margin-top: 10px;
        font-size: 0.6rem;
        font-weight: 200;
        color: #3f3f3f;
        cursor: pointer;
        background-color: #F7CA00;
        margin: 10px auto;
    }

}
@media (max-width:240px) {
    .mobile-section{
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
    .grid .product-grid ul {
        padding:20px;
    }
  
    .mobile-section .grid .product-grid ul .box {
        position: relative;
        width: 100px;
        height: 300px;
      
    }
    .mobile-section .grid .product-grid ul .box  button {
        padding: 6px 8px;
        border: none;
        outline: none;
        border-radius: 50px;
        margin-top: 10px;
        font-size: 0.5rem;
        font-weight: 200;
        color: #3f3f3f;
        cursor: pointer;
        background-color: #F7CA00;
        margin: 10px auto;
    }

}
/* responsive page start here  */