.product-section {
    position: relative;
    width: 100%;
    min-height: 100%;
    margin-top: 100px;
    padding: 0 14px;
    color: #000;
    background-color: #FFFFFF;

}

section .product-grid .header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
}

section .grid {
    width: 100%;
    min-height: 100vh;
    display: grid;
    background-color: #FFFFFF;
    grid-template-columns: .2fr 1fr;
}

section .grid .product-grid .sort-con label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
}

select {
    font-size: 0.9rem;
    padding: 2px 5px;
}


section .grid .product-grid {
    background-color: #FFFFFF;
}

section .grid ul {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

section .grid ul .box {
    position: relative;
    width: 200px;
    height: 380px;
    background-color: #F7F7F7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 1rem;


}

/* .grid ul .box .product-img{
} */
section .grid ul .box .product-img>img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.grid ul .box h3 {
    margin-top: 10px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1rem;
}

.grid ul .box .price {
    margin-top: 8px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 1.2rem;
}

.grid ul .box p {
    margin-top: 20px;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    font-size: 0.8rem;
}

.grid ul .box button {
    padding: 8px 24px;
    border: none;
    outline: none;
    border-radius: 50px;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: 200;
    color: #3f3f3f;
    cursor: pointer;
    background-color: #F7CA00;
    margin: 10px auto;
}

/* serch products start */
.grid .filter-page  {
    margin-top: 10px;
}
.grid .filter-page .filter-box {
    position: relative;
    width: 100%;
}


.grid .filter-page .filter-box label {
    margin: 0;
    padding: 0;
}

.grid .filter-page .filter-box input {
    height: 5px;
    padding: 15px;
    border-radius: 3px;
    width: 100%;
    font-size: 1rem;
    border: 2px solid rgb(32, 31, 31);
    text-align: left;
}

.filter-box input {
    padding: 4px 8px;
    /* margin-left: 20px; */
    border-radius: 3px;
    font-size: 1.2rem;
    border: 2px solid rgb(32, 31, 31);
}

.same-brands {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 30px;
    text-align: center;
}


/* Filter options start  */
.filter-page {
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.filter-page h3 {
    margin-bottom: 10px;
}

.brand-name {
    color: #000;
}

.filter-page .price {
    cursor: pointer;
}

.color-filter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px 0;

}

.color-filter .box {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #3f3f3f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5px;
}

.color-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.hover:hover {
    color: red;
    cursor: pointer;
}

form .serch-box {
    padding: 12px 15px;
    margin-left: -20px;
    margin-top: -20px;
    outline: 2px solid #dadada;
    border-radius: 3px;
    font-size: 1.2rem;
    /* border: 2px solid rgb(32, 31, 31); */
}

@media (max-width:600px) {
    .product-section {
   
        padding: 0 5px;
        color: #000;
        background-color: #FFFFFF;
    }
  
    section .grid ul .box {
        position: relative;
        width: 250px;
        height: 390px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
       padding: 12px;
    }
  
 
}
@media (max-width:280px) {
    section .grid ul .box {
        position: relative;
        width: 350px;
        height: 420px;
        background-color: #F7F7F7;
        border-radius: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 1rem;
    }
}