.home-container {
    position: relative;
    margin: 0 auto;
    max-width: 1500px;
    width: 100%;
    top: 0;
    background-color: #e7e7e7;
    min-height: calc(100vh - 60px);
    /* height: 100%; */
}

.banner_part {
    position: relative;
    width: 100%;
    margin: 0 auto;
    border-bottom: 2px solid rgb(199, 199, 199);

}

.card-con {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    top: 0;
    left: 0;
    z-index: 1;
}

.card-con .card {
    padding: 10px;
    width: 100%;
    max-width: 320px;
    height: 400px;
    background-color: #FFFFFF;
    position: relative;
    margin-bottom: 15px;
}

.card-con .card .boxes {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.card-con .card .box {
    position: relative;
    background-color: #FFFFFF;
    height: 150px;
    width: 150px;
    margin: 5px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-con .card .box-con {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #FFFFFF;
}

.card-con .card .box-con .box {
    position: relative;
    height: 160px;
    width: 160px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #F7F7F7;

}

.box-con .box img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.card-con .card a {
    color: darkblue;

}

.card-con .card a:hover {
    color: #D57B55;
}


.produc_carousel{
    width: 100%;
    position: relative;
    margin: 10px auto;
 
}

@media (max-width:600px) {
    .home_image {
        margin-bottom: -50px;
    }

    .card-con .card {
        padding: 10px;
        width: 100%;
        max-width: 400px;
        height: 400px;
        background-color: #FFFFFF;
        position: relative;
        margin-bottom: 15px;
    }


}

@media (max-width:430px) {

    .card-con .card {
        padding: 10px;
        width: 100%;
        max-width: 380px;
        height: 400px;
        background-color: #FFFFFF;
        position: relative;
        margin-bottom: 15px;
    }
}