.sidebar-container {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000CC;
    z-index: 99;
    opacity: 50;
    top: 0;

}

.sidebar-container .close-sidebar {
    position: absolute;
    left: 362px;
    top: 2px;
    font-size: 3rem;
    color: #FFF;
    cursor: pointer;
}

.sidebar-container .content {
    width: 100%;
    max-width: 360px;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
}

.sidebar-container .content .account {
    width: 100%;
    height: 50px;
    background-color: #232F3E;
    color: white;
    display: flex;
    align-items: center;
}

.content .account .account-icon {
    margin: 0 10px 0 36px;
    font-size: 1.8rem;

}

.content .account h3 {
    font-size: 1.2rem;
    font-weight: 600;
}

.sidebar-content-container {
    width: 100%;
    height: calc(100% - 50px);
    overflow-y: scroll;
    overflow-x: hidden;
}

@media (max-width:600px) {
    .sidebar-container .content {
        width: 100%;
        max-width: 290px;
        height: 100%;
        background-color: #FFFFFF;
        position: fixed;
    }

    .sidebar-container .close-sidebar {
        position: absolute;
        left: 290px;
        top: 2px;
        font-size: 3rem;
        color: #FFF;
        cursor: pointer;
    }

}