.sidebar-con {
    width: 365px;
    height: 100%;
    position: fixed;
    background-color: #fff;
    z-index: 99;
    opacity: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-con i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    margin-right: -50px;
    color: #b20d0d;
    opacity: 0.8;
}