.footer-container {
    position: relative;
    width: 100%;
    background-color: #232F3E;
}

.footer-container .top {
    padding: 12px 15px;
    text-align: center;
    color: #fff;
    background-color: #354151;
}

.footer-container .middile {
    position: relative;
    width: 100%;
}


.footer-container .middile {
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 60px;

}

.footer-container .middile .mdl_part {
    position: relative;
    display: flex;
    
}

.footer-container .middile .mdl_part .mdl_box {
    color: #FFFFFF;
    position: relative;
    padding: 0 10px;

}
h4{
    font-size: .98rem;
    margin: 6px 0px 14px;
    font-weight: 700;
}
h3 {
    font-size: .84rem;
    font-weight: normal;
    margin: 0 0 10px;
}