.login-container {
    width: 100%;
    height: 100%;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
}


.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 44px;
    margin-bottom: 20px;
    overflow: hidden;
}

.logo {
    width: 110px;
    height: 724px;
    background: url(https://m.media-amazon.com/images/S/sash/mPGmT0r6IeTyIee.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -117px;

}

.dot-in {
    position: absolute;
    margin-left: 106px;
    margin-top: 10px;
    color: #030303;
}

.form_container {
    max-width: 360px;
    /* border: 2px solid red; */
    margin-top: 0;
}

.login-form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 2px;
    padding: 20px 26px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border: 1.2px solid #dfdfdf;
}

.login-form h3 {
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 500;
}

.login-form input {
    width: 100%;
    margin-bottom: 8px;
    padding: 6px;
    outline: none;
    border: 1.2px solid #656565;
}

.login-form button[type=submit] {
    background-color: #f8ce12d7;
    outline: none;
    border: none;
    padding: 8px 12px;
    border-radius: 8px;
    font-weight: 300;
    cursor: pointer;
    width: 100%;
    margin-bottom: 18px;
}

.login-form button[type=submit]:hover {
    background-color: #F7CA00;

}

.login-form p:nth-of-type(1) {
    font-size: 13px;
    font-weight: 600;
    padding: 2px;
    color: #030303;

}

.login-form p:nth-of-type(2) {
    font-size: 12px;
    padding: 2px;
    margin-bottom: -10px;
    line-height: 18px;
    letter-spacing: 0.2px;
}

.login-form span {
    color: #0066c0;
    cursor: pointer;
}

.login-form span:hover {
    text-decoration: underline;
    text-underline-offset: 1;
    transition: .3s;
    color: #c40000;
    cursor: pointer;
}

.help {
    width: 100%;
    border-bottom: 1.5px solid #dfdfdf;
    margin-bottom: 15px;
    padding: 26px 0px;
    font-size: 13px;
}

.help i {
    color: #656565;
    font-size: 14px;
}

.login-form p:nth-of-type(3) {
    font-size: 13px;
    padding: 2px;
    font-weight: 600;
    color: #030303;
}

.login-form p:nth-of-type(4) {
    font-size: 14px;
    padding: 2px;
    margin-bottom: 5px;
    color: #0066c0;
}

.login-form p:nth-of-type(4):hover {
    text-decoration: underline;
    text-underline-offset: 1;
    transition: .3s;
    color: #c40000;
    cursor: pointer;
}

.newtoamazon {
    color: #333;
    width: 100%;
    opacity: 0.6;
    margin-top: 20px;
    display: flex;
    align-items: center;
}




.login-container .left-line {
    display: inline-flex;
    width: 100%;
    height: 1px;
    background-color: #333;
    opacity: 0.5;

}

.login-container .right-line {
    display: inline-flex;
    height: 1px;
    width: 100%;
    background-color: #333;
    opacity: 0.5;

}

.newtoamazon .text {
    width: 100%;
    color: black;
    font-size: 12px;
    text-align: center;
}

.craete_account {
    color: #030303;
    width: 100%;
    border: 1.5px solid #dfdfdf;
    text-align: center;
    margin-top: 20px;
    border-radius: 8px;
    padding: 6px 8px;
    cursor: pointer;
}


.craete_account a {
    color: black;
    font-size: 13px;
}

.craete_account:hover {
    background-color: #fafafa;
}

.bottom {
    width: 100%;
    background-color: #FDFDFD;
    border-top: 1.5px solid #f2f2f2;
    margin: 20px 0px;
    text-align: center;
    padding: 10px 0px;
}

.bottom span {
    font-size: 11px;
    color: #0066c0;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

.bottom span:hover {
    text-decoration: underline;
    text-underline-offset: 1;
    transition: .3s;
    color: #c40000;
    cursor: pointer;
}

.bottom p {
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    opacity: 0.8;
}